@import "./gruvbox_dark.css";

* {
    border: 1px;
    font-family: 'scientifica';
    font-size: 18px;
    min-height: 5px;
}

window > box {
    background-color: @transparent;
}

window#waybar {
    background-color: @transparent;
    color: @fg0;
}


#workspaces {
    color: @gray;
    border: 0px;
}

#workspaces button {
    border-radius: 1px;
    color: @gray0;
    opacity: 0.6;
}

#workspaces button.focused {
    color: @blue;
}

#workspaces button.active {
    color: @gray;
    opacity: 1
}

#workspaces button.urgent {
    color: @red;
}

#tray,
#mode,
#window,
#temperature,
#temperature.critical,
#custom-spotify,
#custom-basilk,
#clock,
#network,
#battery,
#cpu,
#memory,
#pulseaudio,
#disk,
#custom-dot,
#custom-vpnstatus,
#workspaces,
#custom-updates,
#taskbar {
    background-color: @bg;
    border-radius: 5px 5px 0 0;
    /* border: 2px solid @; */
    border-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @text;
    }
}

label:focus {

}

#custom-dot {
    padding-top: 0px;
    color: @yellow;
}

#custom-vpnstatus {
    color: @fg2;
    font-size: 20px;
}

#custom-spotify {
    color: @aqua0;
}

#custom-basilk {
    color: @purple0;
}

#network {
    color: @blue0;
}


#memory {
    color: @gray;
}

#memory.warning {
    color: @yellow0;
}

#memory.critical {
    color: @red0;
}


#cpu {
    color: @gray;
}

#cpu.warning {
    color: @yellow;
}

#cpu.critical {
    color: @red0;
}


#temperature {
    color: @gray;
}

#temperature.critical {
    color: @red;
}

#pulseaudio {
    color: @gray;
}

#pulseaudio.warning {
    color: @yellow;
}

#pulseaudio.critical {
    color: @orange;
}

#pulseaudio.muted {
    color: @gray;
}

#battery {
    color: @green;
}

#battery.low {
    color: @red;
}

#tray {
}

#disk {
}

#window {
}

#clock {
    color: @gray;
}
